body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#display{
    background-color: rgba(255, 255, 255, 0.138);
    width: 100%;
    font-size: 1rem;
    height: 5rem;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}
.body{
    margin-top: 10%;
    background-color: hsl(0, 0%, 55%);
    max-width: 500px;
    overflow: hidden;
    height: fit-content;
    border-radius: 12px;
    padding: 1%;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin-top: 5px;
    border-radius: 10%;
}

.numbers{
 color: black;
 background-color: #dedbdb;
 box-shadow: none;
 border: 0;
 border-radius: 2%;
}

.numbers:hover{
    background-color: #b0b0b0;
    cursor:pointer;
}

.numbers:active{
    background-color: #b0b0b0a3;
}

.operators{
    color: black;
    background-color: #ef9536;
    box-shadow: none;
    border: 0;
    border-radius: 10%;
   }

   .operators:hover{
    background-color: #cd8231;
    cursor: pointer;
}
.operators:active{
    background-color: #cd823193;
}

#submit{
    color: black;
    background-color: hsla(0, 0%, 65%, 0.69);
    box-shadow: none;
    border: 0;
    border-radius: 10%;
    cursor: pointer;
   }

#submit:hover{
    background-color: #9a999994;
}
   
#submit:active{
    background-color: #9a99994a;
}